@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  --background: #faf1dd;
  --accent-color: #f0844e;
  --t-black: black;
  --t-grey: grey;
  --t-white: white;
  --black: rgba(20, 20, 20, 1);
  --grey: rgba(20, 20, 20, 1);
  --white: rgba(255, 255, 255, 1);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-5: rgba(255, 255, 255, 0.5);
  scroll-behavior: smooth;
  --step-0: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);
  --step-1: clamp(1.27rem, calc(1.13rem + 0.67vw), 1.65rem);
  --step-2: clamp(1.42rem, calc(1.23rem + 0.97vw), 1.98rem);
  --step-3: clamp(1.6rem, calc(1.33rem + 1.35vw), 2.38rem);
  --step-4: clamp(1.8rem, calc(1.44rem + 5vw), 6rem);
  --step-5: clamp(2.03rem, calc(1.54rem + 7vw), 8rem);
  --button-font-size: clamp(0.6rem, calc(0.7rem + 0.43vw), 1.38rem);
}

.t-center {
  text-align: center;
}

.t-accent {
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.marginAuto {
  margin: 0 auto;
}

::selection {
  background-color: var(--accent-color);
  color: var(--t-black);
}

input::placeholder {
  color: var(--accent-color);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--background);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bf6539;
}

body {
  font-family: "segoe ui";
  background-color: var(--background);
}

.hero {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background);

  .hero-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6.5rem 0 0 0;
    gap: 0.5rem;
  }
  .hero-pets {
    position: absolute;
    z-index: 3;
    bottom: -3vh;
    margin: 0 auto;
    width: 90vw;
    max-width: 50rem;
    min-width: 18rem;
    overflow-x: hidden;
  }

  .hero-pets:hover {
    animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite alternate;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(3px, 0, 0);
    }
  }

  .hero-txt {
    font-family: "Nanum Pen Script", cursive;
    font-size: clamp(2rem, 2vw + 2rem, 8rem);
    color: var(--accent-color);
    letter-spacing: 4px;
    text-align: center;
  }
  .hero-subtxt {
    font-family: "Nanum Pen Script", cursive;
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    color: var(--accent-color);
    letter-spacing: 4px;
    text-align: center;
  }
  .hero-scroller {
    font-size: clamp(1rem, 0.5vw + 0.5rem, 2rem);
    color: var(--t-black);
    letter-spacing: 4px;
    margin: 20px 0;
    text-align: center;
    animation: lineSpacing 1.5s infinite alternate;
  }

  @keyframes lineSpacing {
    100% {
      letter-spacing: 8px;
    }
  }
}

nav {
  background: var(--accent-color);
  padding: 5px 40px;
  font-size: 12px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: var(--t-black);
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a {
  color: var(--t-black);
}
nav ul li i {
  font-size: 23px;
}
nav ul li.nav-btn {
  display: none;
}
nav ul li.nav-btn.hide i:before {
  content: "\f00d";
}

#nav-logo {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }
  nav ul li.items.show {
    display: block;
  }
  nav ul li.nav-btn {
    display: block;
  }

  nav ul li.items:hover:after {
    opacity: 0;
  }
}

.main-hero-wrapper {
  width: 100%;
  height: 100vh;
  background: rgb(79, 124, 161);
  background: linear-gradient(
    180deg,
    rgba(79, 124, 161, 1) 0%,
    rgb(25, 57, 87) 94%
  );
  display: flex;
  align-items: center;
  color: var(--t-white);
}

.left-hero-wrapper {
  width: 50%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-hero-wrapper {
  position: relative;
  width: 50%;
  height: 100vh;
  object-fit: cover;
}

#hero-husky {
  position: absolute;
  bottom: 0;
  right: 5rem;
  height: 80%;
}

.login-form-wrapper {
  background-image: url(../assets/bone.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  display: flex;
  border: 1px var(--accent-color) solid;
  // background-color: var(--background);
  backdrop-filter: blur(10px);
  flex-direction: column;
  width: 30%;
  padding: 2%;
  gap: 1rem;

  input {
    height: 35px;
    border: none;
    border-radius: 10px;
    color: var(--accent-color);
    padding: 10px;
  }

  input::placeholder {
    color: var(--accent-color);
  }

  button {
    cursor: pointer;
    height: 35px;
    border: 1px var(--accent-color) solid;
    border-radius: 10px;
    color: var(--accent-color);
    background-color: var(--background);
  }

  button:focus,
  button:hover {
    border: 2px var(--accent-color) solid;
  }
}

#map {
  height: 100vh;
  width: 50%;
}

.contact {
  background-color: var(--background);
  padding: 1rem;

  .contactForm-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .section-header {
    text-align: center;
    color: var(--accent-color);
    margin: 1rem 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
  }

  .form-group {
    width: 100%;

    input,
    textarea,
    select,
    button {
      width: 100%;
    }
    textarea {
      margin-top: 2rem;
    }

    #Message {
      height: 5rem;
    }
  }

  .form-control,
  select {
    background-color: var(--background);
    border: 1px solid var(--accent-color);
    padding: 1rem;
    color: var(--accent-color);
  }

  #submit {
    font-size: var(--button-font-size);
    white-space: nowrap;
    padding: 1rem 2rem;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: transparent;
    transition: background-color 0.5s, color 0.5s;
    margin-left: auto;

    &:is(:hover, :active) {
      color: var(--background);
      background-color: var(--accent-color);
      transition: background-color 0.5s, color 0.5s;
    }
  }
}

footer {
  display: block;
}

.footer-section {
  width: 100%;
  background: var(--background);
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  padding: 1rem 2rem;

  footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20rem;
  }

  a {
    color: var(--accent-color);
    box-sizing: border-box;
    transition: color 0.5s linear;
  }

  a:hover {
    color: var(--black);
    transition: color 0.5s linear;
  }
}

.about-details {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  line-height: 2rem;
}

#family-pets {
  width: 100%;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
a {
  text-decoration: none;
}

.shop-all {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: left;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    transition: 0.4s;
    background: #f2f2f2;
  }

  .content:hover {
    transform: translate(0px, -8px);
  }

  img {
    width: 90%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  p {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
  }

  h6 {
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
  }

  .fa {
    font-size: 26px;
    transition: 0.4s;
  }

  .fa:hover {
    transform: scale(1.3);
    transition: 0.6s;
  }
  button {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--accent-color);
  }
}
